<div id="div1">
    <!-- <button type="button" class="btn btn-dark mr-1">
        Thêm mới
    </button> -->
    <label>Số phiếu thanh lý</label>
    <input class="form-control" [(ngModel)]="sophieuthanhly" />
    <label>Ngày thanh lý</label>
    <!-- <br>
    <input type="date" class="form-control" [(ngModel)]="ngaythanhly">
    <br> -->
    <input class="form-control" [(ngModel)]="ngaythanhly" />
    <label>Nhân viên thực hiện</label>
    <!-- <input class="form-control" [(ngModel)]="nhanvien" /> -->
    <div>
        <select class="form-control" [(ngModel)]="nhanvien">
            <option *ngFor="let nvien of DSNhanVien">{{nvien.tenNV}}</option>
        </select>
    </div>
    <label>Kho</label>
    <!-- <input class="form-control" [(ngModel)]="kho" /> -->
    <div>
        <select class="form-control" [(ngModel)]="kho">
            <option *ngFor="let kho of DSKho">{{kho.moTa}}</option>
        </select>
    </div>
    <label>Diễn giải</label>
    <input class="form-control" [(ngModel)]="diengiai" />
    <label>Chọn tài sản thanh lý</label>
    <!-- <input class="form-control" [(ngModel)]="kho" /> -->
    <div>
        <select class="form-control" [(ngModel)]="taisan">
            <option>---Chọn tài sản thanh lý--- </option>
            <option *ngFor="let tsan of DSTaiSan">{{tsan.tenTS}}</option>
        </select>
    </div>
    <!-- <label>Mật khẩu</label>
    <input class="form-control" [(ngModel)]="matKhau" /> -->
    <button class="btn btn-primary" (click)="suaphieuthanhly()">Sửa</button>
</div>